<h2>Sign Up</h2>

<form method="post" action="/signup">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="email" name="email" placeholder="email">
  <button>Sign Up</button>
</form>
