/*@import '../../styles';*/
.home-content-wrapper {
    @extend .flex-col-center;
}

.home-profile-wrapper {
    @extend .flex-row-center;
    align-items: end;
    padding: 10px;
    width: 100%;
    margin-left: auto;
}

.profile-details h3 {
    text-align: center;
}

.profile-details li {
    list-style: none;
    @extend .flex-row-center;
    margin: 10px;
}

.profile-details {
    @extend .flex-col-center;
    align-items: flex-start;
    margin-left: 68px;
}

.profile-details>li>span {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 300;
}

.ro-form h2 {
    font-weight: 300;
}

.profile-edit-choice {
    margin-left: auto;
}

.profile-details .home-icons {
    width: 50px;
    text-align: left;
    margin-right: 5px
}

.profile-form {
    padding-top: 0;
}

html,body,.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    color: #1e3799;
    box-sizing: border-box;
    font-family: Roboto;
}
.main-view{
    width: 100%;
    min-height: 100%;
    padding: 20px 50px;
    margin: 0;
    text-align: center;
}
.login-view{
    // width: 100%;
    // min-height: 100%;
    // padding: 20px 50px;
    // margin: 0;
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 5px;
    min-height: 300px !important;
    padding: 20px;
}
.form-group{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}
.form-group label{
    // width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
    opacity: 0.8;
    font-weight: 500;
}
.form-group input,textarea{
    font-size: 14px;
    line-height: 18px;
    border-radius: 3px;
    box-shadow: none;
    padding: 5px 10px;
    font-weight: 300;
    border: 1px solid #ccc;
    width:100%;
}

.ro-form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-group{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}
.login-btn, .report-outage-btn, .btn{
    padding:10px 40px;
    background: #2980b9;
    border: 2px solid #2980b9;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
}
.alert-btn{
background: #e74c3c;
border: 2px solid #e74c3c;
}
.prompt-btn{
    background: #2ecc71;
    border: 2px solid #2ecc71;
    font-family: roboto;
    font-style: oblique;
    font-weight: 600;
}
.radio-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.radio-form-group{
    padding: 7px 2px;
}
.radio-form-group label{
font-size: 18px;
    font-weight: 300;
}

/* The container */

.lbl-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
  
  /* Hide the browser's default radio button */
  
  /* Create a custom radio button */
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #2980b9;
  }
  
  /* On mouse-over, add a grey background color */
  
  .lbl-container {
    &:hover input ~ .checkmark {
      background-color: #eee;
    }
    input:checked ~ .checkmark {
      background-color: #fff;
    }
  }
  
  /* When the radio button is checked, add a blue background */
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  
  .lbl-container {
    input:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark:after {
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #2980b9;
      
    }
  }
  
  /* Style the indicator (dot/circle) */
.radio-group input{
    margin-left: 15px;
}
.radio-group input:nth-child(1){
    margin-left: 0;
}
.row-flex{
    flex-direction: row;
}

.form-group select,textarea{
    padding: 7px 10px;
    font-size: 16px;
    width: 100%;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-error-messages{
    font-size: 14px;
    color: red;
    margin-top: 5px;
}
.form-inp-success{
    border-color: green !important;
    outline-color: #fff !important;
}
.form-inp-error{
border-color: red !important;
outline-color: #fff !important;
}
.fa{
    color: #3498db;
    margin-right: 2px;
}
button .fa{
    color: #fff;
}

button:disabled{
    opacity: 0.5;
}

.custom-container, .header-main{
    background: #5a97bf;
   
}
.border {
  box-shadow: 5px 5px 35px -9px rgba(0, 0, 0, 0.75);
  width: 35%;
  margin-right: 350px;
}
.list-items {
text-align: left;
    margin-left: 0px ! important;
    padding-left: 0px ! important;
}
.fa-icon {
  text-align: center ! important;
}
