<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Health Care Service</a>
      <label class="navbar-brand">
        <span class="glyphicon glyphicon-user"></span> Welcome 
        <span id="username" class="user">{{userDetails.userName}}</span>
      </label>
    </div>
    <div class="nav-left">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/profile" routerLinkActive="current-link">
            <span class="glyphicon glyphicon-cog"></span> Profile
          </a>
        </li>
        <li>
          <a routerLink="/form" routerLinkActive="current-link">
            <i class="fa fa-wpforms" aria-hidden="true"></i> Register patient
          </a>
        </li>
        <li>
          <a routerLink="/patientList" routerLinkActive="current-link">
            <span class="glyphicon glyphicon-th-list"></span> Viewall patients
          </a>
        </li>
        <li>
          <a routerLink="/requested_appointments" routerLinkActive="current-link">
            <span class="glyphicon glyphicon-list-alt"></span> Requested App
          </a>
        </li>
        <li>
          <a id="logout" routerLink="" (click)="logout()">
            <span class="glyphicon glyphicon-log-out" routerLinkActive="current-link"></span> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>