<app-header></app-header>
  <div class="table-div">
    <table class="table-class">
      <thead>
        <tr class="table-head">
          <th>Patient ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>DOB(yyyy-MM-dd)</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Registered on</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!-- display all patients list -->
        <tr *ngFor="let item of allPatients" id="table-row">
          <td id="table-id" >{{item.patient_Id}}</td>
          <td id="table-firstname" class="td-column">{{item.patient_name}}</td>
          <td id="table-gender">{{item.patient_gender}}</td>
          <td id="table-dob">{{item.patient_dob}}</td>
          <td id="table-mobile">{{item.patient_mobile}}</td>
          <td id="table-email">{{item.patient_email}}</td>
          <td id="table-registeredOn">{{item.registeredDate}}</td>
          <td class="column-btn">
            <!--call view method with selected id when clicking this button-->
            <a id="view" class="view-details" (click)="view(item.patient_Id)">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
