<app-header></app-header>
  <div class="table-div">
    <table class="table-class">
      <thead>
        <tr class="table-head">
          <th>Patient ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>DOB(yyyy-MM-dd)</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Registered on</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!-- display all patients list -->
        <tr id="table-row">
          <td id="table-id" ><!--display patient_Id--></td>
          <td id="table-firstname" class="td-column"><!--display patient_name--></td>
          <td id="table-gender"><!--display patient_gender--></td>
          <td id="table-dob"><!--display patient_dob--></td>
          <td id="table-mobile"><!--display patient_mobile-->}</td>
          <td id="table-email"><!--display patient_email--></td>
          <td id="table-registeredOn"><!--display registeredDate--></td>
          <td class="column-btn">
            <!--call view method with selected id when clicking this button-->
            <a id="view" class="view-details">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
