<div class="login-view-wrapper custom-container">
  <div class="login-view">
    <div class="logo-wrapper">
      <img src="./../assets/login.png" width="100" height="100">
      <h2>LOGIN</h2>
    </div>
    <div class="login-form-wrapper">
      <form class="ro-form" [formGroup]="loginForm">
        <div class="form-group">
          <label class="labelHead" for="username">
            <b>Username</b>
          </label>
          <input formControlName="userName" type="text" id="username" placeholder="username">

          <ng-container
            *ngIf="loginForm.get('userName').invalid && (loginForm.get('userName').dirty || loginForm.get('userName').touched)">

            <div *ngIf="loginForm.get('userName').errors?.required" class="form-error-messages" id="error-no-username">
              {{emptyUserName}}
            </div>
            <div *ngIf="loginForm.get('userName').errors?.minlength" class="form-error-messages"
              id="error-minlength-username">
              {{minlengthUserName}}
            </div>
            <div *ngIf="loginForm.get('userName').errors?.maxlength" class="form-error-messages"
              id="error-maxlength-username">
              {{maxlengthUserName}}
            </div>
            <div *ngIf="loginForm.get('userName').errors?.pattern" class="form-error-messages"
              id="error-pattern-username">
              {{userNamePattern}}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label class="labelHead" for="password">
            <b>Password</b>
          </label>
          <input type="password" formControlName="password" id="password" placeholder="password">
          <ng-container
          *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">

          <div *ngIf="loginForm.get('password').errors?.required" class="form-error-messages"
            id="error-no-password">
            {{emptyPassword}}
          </div>
          <div *ngIf="loginForm.get('password').errors?.minlength" class="form-error-messages"
            id="error-minlength-password">
            {{minlengthPassword}}
          </div>
          <div *ngIf="loginForm.get('password').errors?.maxlength" class="form-error-messages"
            id="error-maxlength-password">
            {{maxlengthPassword}}
          </div>
          <div *ngIf="loginForm.get('password').errors?.pattern" class="form-error-messages"
            id="error-pattern-password">
            {{passwordPattern}}
          </div>
          </ng-container>
        </div>
        <div class="col-sm-12 clmn12">
          <!-- disable button if form not valid -->
          <!-- call doLogin method when clicking on this button-->
          <button id="loginBtn" class="login-btn" type="submit" (click)="doLogin()" [disabled]="!loginForm.valid">Login</button>
          <!-- call signUp method when clicking on this button-->
          <button id="signupBtn" class="guest-btn" (click)="signUp()">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
