<app-header></app-header>
  <div class="table-div">
    <table class="table-class">
      <thead>
        <tr class="table-head">
          <th>Patient ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Gender</th>
          <th>DOB(yyyy-MM-dd)</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Registered on</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!-- display all patients list -->
        <tr id="table-row">
            <td id="table-id" ><!--display id--></td>
          <td id="table-firstname" class="td-column"><!--display firstName--></td>
          <td id="table-lastname" ><!--display lastName--></td>
          <td id="table-gender"><!--display gender--></td>
          <td id="table-dob"><!--display dob--></td>
          <td id="table-mobile"><!--display mobile--></td>
          <td id="table-email"><!--display email--></td>
          <td id="table-registeredOn"><!--display registeredTime--></td>
          <td class="column-btn">
            <!--call view method with selected id when clicking this button-->
            <a id="view" class="view-details">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
