html, body { height: 100%; background-color: #fafafa;}
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container {
  width: 100%;
  margin: 0px 0px 9px 0px;
  padding: 0px 0px 0px 0px;
}

.container-mid {
  padding-top: 35px;
  margin-top: -18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #d1e0ec;
  border-radius: 5px;
  min-height: 150px;
}

.app-title {
  background-color: #211fa2;
  border-color: #e7e7e7;
  border: 1px solid #d6c2c2;
  border-radius: 5px;
  margin: 0px 0px 9px 0px;
  padding: 12px 0px 12px 0px;
  text-align: center;
}

.text-mid {
  text-align: center;
  margin-left: -69px;
  margin-right: auto;
  color: #fafafa;
  font-weight: 600;
  font-size: 23px;
}

.loader {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100vh;
}