<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>file-explorer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>EditFile</servlet-name>
  	<display-name>EditFile</display-name>
  	<description></description>
  	<servlet-class>EditFile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Editor</servlet-name>
  	<display-name>Editor</display-name>
  	<description></description>
  	<servlet-class>Editor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileExplorer</servlet-name>
  	<display-name>FileExplorer</display-name>
  	<description></description>
  	<servlet-class>FileExplorer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveFile</servlet-name>
  	<display-name>SaveFile</display-name>
  	<description></description>
  	<servlet-class>SaveFile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditFile</servlet-name>
  	<url-pattern>/EditFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Editor</servlet-name>
  	<url-pattern>/Editor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileExplorer</servlet-name>
  	<url-pattern>/FileExplorer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveFile</servlet-name>
  	<url-pattern>/SaveFile</url-pattern>
  </servlet-mapping>
</web-app>